<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="images/skipping.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-9 text-center">
            <h3>Why is Life Tracker right for you?</h3><br>
            <div class="row">
                <p>If you struggle to lose, gain, or maintain weight, using a food and exercise tracker is a
                    scientifically proven way to these hurdles. Do want to learn more about your eating habits or your
                    nutrient intake? Using the fitness component Life Tracker can help you understand how to manage
                    calories, maintain your weight, and track your exercise so you can meet your goals as you learn
                    along the way!</p>
                <br>
                <br>
                <br>
                <br>
                <div class="col">
                <h4>Sign-up Now!</h4>
                <button type="submit" class="btn btn-primary"> <a href="/sign-up">Register</a></button>
                <br>
                <br>
                <h6>Already a member?</h6>
                <button class="btn btn-primary" type="submit"><a href="/login">Sign in</a></button>
                </div>
            </div>
        </div>
    </div>