html,
body {
  height: 100%;
}
header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
  background-color: rgb(rgb(163, 240, 217), green, blue);
}
header h2 a{
  text-decoration: none;
}
#login a{
  text-decoration: none;
}
#sign-up a{
  text-decoration: none;
}
#logout a{
  text-decoration: none;
}

/* body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
} */
.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
} */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


#transition {
  /* -webkit-animation: smooth 1s ease-in;
  -moz-animation: smooth 1s ease-in;
  -o-animation: smooth 1s ease-in;
  -ms-animation: smooth 1s ease-in; */
  animation: smooth 0s ease-in;
}

@keyframes smooth {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

button:link { 
  text-decoration: none; 
  color: white;
}


button:visited { 
  text-decoration: none; 
  color: white;
}


button:hover { 
  text-decoration: none; 
  color: white;
}


button:active { 
  text-decoration: none; 
  color: white;
}


/* Add a gray background color and some padding to the footer */
/* footer {
  background-color: #f2f2f2;
  padding: 25px;
} */
​.carousel-inner img {
  width: 100%; /* Set width to 100% */
  min-height: 300px;
}
/* ​* Hide the carousel text when the screen is less than 600 pixels wide
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
} */
